@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    
    --font: "Josefin Sans", sans-serif;


    --section-padding-y: 160px;
    --color-dark-1: #111;
    --color-dark-2: #222;
    --color-dark-3: #2a2a2a;
    --color-dark-3a: #373737;;
    --color-gray-1: #777;
}


.quote_logo{display: flex;justify-content: space-between;align-items: center;}
.quote_logo img{width: 116px;object-fit: cover;}
.main_btn , .btn_two{ display: inline-block;
    line-height: 1;
    background-color: #168bb1;
    font-size: 15px !important;
    padding: 10px 20px;
    border-radius: 3px;
    color: #fff !important;
    text-align: center;
    transition: all .3s;
    border: none;
    font-size: 14px;font-weight: 600;
}
.main_btn:hover{background-color: #ff1f1f;}
.btn_two{color: #ff1f1f !important;background: none !important; border: 1px solid #168bb1 !important;}

.quote_logo{width: 100%;}

.myNav ul{align-items: center;
    gap: 5px;
    display: flex;
    margin: 0px;
    justify-content: flex-start
}
.mainNav{
    background: #fff;position: fixed; top: 0; width: 100%;
    
    align-items: stretch;
    top: 0;
    
    background: rgba(255,255,255, .98);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.025),0px 1px 1px 0px rgba(0, 0, 0, 0.01),0px 0px 50px 0px rgba(0, 0, 0, 0.07);
    transition: all 0.2s var(--ease-default); 

}
.myNav ul li{list-style-type: none;}
.myNav ul li a{  font-size: 16px;font-weight: 600;
    color: #000;
    padding-left: 15px;
    padding-right: 15px;text-decoration: none;}

.quote_header{background-image:url(./Img/q-bg.jpg);background-position:50% 0;height: 600px;margin-top: 35px;position: relative;z-index: -99;display: flex;align-items: center;}
.quote_header::before{ content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -9;
    left: 0;background:rgba(252,252,252, .7);}
.header_text{text-align: center;margin-top: 40px;}
.header_text h4{font-size: 18px; line-height: 28px;font-family: var(--font);}
.header_text h2{ -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3px 13px;
    color: #fff;
    background: #000;
    border: 1px solid transparent;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .065em;
    border-radius: 0;
    box-shadow: none;
    transition: var(--transition-default);
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 170px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.22;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    
    transform: rotate(-15deg);
    text-align: center;
    border-radius: 100%;
}
.header_text h1{  font-size: 75px;font-family: var(--font);
    font-weight: 500;
    line-height: 85px;
    letter-spacing: -0.01em;text-align: center;
}

    .my_card{box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; padding: 20px 20px 10px 20px;min-height: 160px;margin: 10px 0px;}
    .my_card p{
       
        font-size: 16px;
        line-height: 26px;
      }
    .my_card h5{font-size: 16px;font-weight: 600;border-bottom: 2px solid red;padding: 0 0 10px 0px; color: red;width: max-content;}
    /* .quote_cards{padding: 60px 0px;}  */
    .creat_sec{padding: 100px 0px;}
    .login_sec , .signup_page{background-image:url(./Img/bg.jpg);  background-size: cover;
        top: 0;
        width: 100%;
        bottom: 0;
        opacity: 1;
        z-index: 999;
        min-height: 100vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
    }
    .login_page ,.creat_pg{padding: 100px; background: #fff;
        margin: 0 auto;width: 50%;
        box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
        border-radius: 10px;}
    .login_page h2 , .creat_pg h2{ font-size: 25px;text-align: center;
        margin-bottom: 30px;
        font-weight: 400;
        color: #121212;}
    
    .login_page input , .creat_pg input{font-size: 16px;
        outline: none;
        color: #424242;
        border-radius: 3px;
        border: 1px solid transparent;
        background: #eceaea;
        padding: 14.5px 45px 14.5px 20px;}
        .login_page .main_btn , .creat_pg .main_btn{height: 55px;}
        .footer{background: #000;}
        .footer_social{ width: 100%;
            display: flex;    
            position: relative;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;    
            padding-top: var(--section-padding-y);
            padding-bottom: var(--section-padding-y);
            justify-content: space-between;
        }

      .fw-social-inline-item a  {font-family: var(--font-alt);
            font-size: 18px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 0.075em;
            color: #fff;
        }
        
        